<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" (click)="displayHouses()" href="#">Houses</a>

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
        <a class="nav-link" (click)="showLogin()" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="showRegister()" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="showForm()" href="#">Create house</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!--<div>-->
    <!--<button (click)="register()">Register</button>-->
<!---->
    <!--<input type="text" #inp>-->
    <!--<button (click)="resOfSearch(inp.value)">search</button>-->
<!---->
    <!--<button class="houses" (click)="postNewHouse()">CREATE NEW HOUSE</button>-->

<!--</div>-->

<!--<form (ngSubmit)="regUser()" #regForm="ngForm">-->
  <!--<input type="text" name="name" placeholder="Name"-->
         <!--#nameValue="ngModel"-->
         <!--[(ngModel)]="newUser.nickname"-->
         <!--[ngStyle]="{backgroundColor: nameValue.invalid && nameValue.dirty ? 'red' : 'white'}"-->
           <!--required>-->
    <!--<br>-->
<!---->
    <!--<input type="text" name="email" placeholder="e-mail"-->
           <!--#emailValue="ngModel"-->
           <!--[(ngModel)]="newUser.email"-->
           <!--[ngStyle]="{backgroundColor: emailValue.invalid && emailValue.dirty ? 'red' : 'white'}"-->
           <!--required-->
           <!--email>-->
    <!--<br>-->
<!---->
    <!--<input type="text" name="password" placeholder="password"-->
           <!--#passValue="ngModel"-->
           <!--[(ngModel)]="newUser.password"-->
           <!--[ngStyle]="{backgroundColor: passValue.invalid && passValue.dirty ? 'red' : 'white'}"-->
           <!--required-->
           <!--minlength="7">-->
    <!--<br>-->
    <!--<br>-->
<!---->
    <!--<button [disabled]="regForm.invalid">register</button>-->
  <!--</form>-->
<!---->
<!--</div>-->
<!---->
<!---->

<!---->


</div>

<app-login *ngIf="isLogin"></app-login>
<app-register *ngIf="isRegister"></app-register>
<app-houses *ngIf="shownHouses"></app-houses>
<app-create-house *ngIf="addHouse"></app-create-house>
