<style>

  div{
    border: 2px solid black;
    background-color: aquamarine;
    padding: 4px;
  }

  input{
    margin-left: 20px;
    margin-right: 4px;
  }

  .form{
    margin: 40px 40px 40px;
    border: 2px solid black;
    background-color: aquamarine;
  }

  .houses{
    border-radius: 30px;
    background-color: black;
    color: aliceblue;
    margin-left: 20px;
  }

</style>

<div>

  <button (click)="register()">Register</button>
  <button (click)="login()">Sign In</button>

  <input type="text" #inp>
  <button (click)="resOfSearch(inp.value)">search</button>

  <button class="houses" (click)="displayHouses()">SHOW HOUSES</button>
  <button class="houses" (click)="postNewHouse()">CREATE NEW HOUSE</button>

</div>

{{result | json}}

<br>

<div class="form" *ngIf="log" >

  <form (ngSubmit)="logUser()" #logForm="ngForm">
    <input type="text" name="nickname" placeholder="enter your nickname"
           [(ngModel)]="signIn.nickname"
           required>
    <br>
    <input type="password" name="password" placeholder="enter your password"
           [(ngModel)]="signIn.password"
           required>
    <br>
        <div *ngIf="logUp">{{logUp}}</div>
        <button>Sign IN</button>
  </form>

</div>



<div class="form" *ngIf="reg" >

  <form (ngSubmit)="regUser()" #regForm="ngForm">
    <input type="text" name="name" placeholder="Name"
           #nameValue="ngModel"
           [(ngModel)]="newUser.nickname"
           [ngStyle]="{backgroundColor: nameValue.invalid && nameValue.dirty ? 'red' : 'white'}"
           required>
    <br>

    <input type="text" name="email" placeholder="e-mail"
           #emailValue="ngModel"
           [(ngModel)]="newUser.email"
           [ngStyle]="{backgroundColor: emailValue.invalid && emailValue.dirty ? 'red' : 'white'}"
           required
           email>
    <br>

    <input type="text" name="password" placeholder="password"
           #passValue="ngModel"
           [(ngModel)]="newUser.password"
           [ngStyle]="{backgroundColor: passValue.invalid && passValue.dirty ? 'red' : 'white'}"
           required
           minlength = "7">
    <br>
    <br>

    <button [disabled]="regForm.invalid">register</button>
  </form>

</div>



<div class="form" *ngIf="shownHouses">
    <div *ngFor="let house of houses">

    <span [ngClass]="house.owner.is_blocked ? 'for_blocked' : 'for_unblocked'" *ngIf="shortInfo">
        City: {{house.city}}<br>
        Price: {{house.price}}<br>
    </span>

    <span *ngIf="shownHouseId === house.id && fullInfo">
      Street: {{house.street}}
      <br>
      Owner: {{house.owner.nickname}}, {{house.owner.email}}
      <br>
      rooms: {{house.room_count}}
      <br>
      id: {{house.id}}
    </span>

    <button [disabled]="house.owner.is_blocked" (click)="showFullInfo(house.id)">Show full info</button>

    </div>
</div>


<div class="form" *ngIf="CreatehouseForm" >

  <form (ngSubmit)="createNewHouse()" #newHouseForm="ngForm">
    <input type="text" name="city" placeholder="city"
           #cityValue="ngModel"
           [(ngModel)]="newHouse.city"
           [ngStyle]="{backgroundColor: cityValue.invalid && cityValue.dirty ? 'red' : 'white'}"
           required>
    <br>

    <input type="text" name="street" placeholder="On which street it located?"
           #streetValue="ngModel"
           [(ngModel)]="newHouse.street"
           [ngStyle]="{backgroundColor: streetValue.invalid && streetValue.dirty ? 'red' : 'white'}"
           required>
    <br>

    <input type="text" name="roomCount" placeholder="How much rooms?"
           #roomCountValue="ngModel"
           [(ngModel)]="newHouse.room_count"
           [ngStyle]="{backgroundColor: roomCountValue.invalid && roomCountValue.dirty ? 'red' : 'white'}"
           required>
    <br>

    <input type="text" name="price" placeholder="write a price"
           #priceValue="ngModel"
           [(ngModel)]="newHouse.price"
           [ngStyle]="{backgroundColor: priceValue.invalid && priceValue.dirty ? 'red' : 'white'}"
           required>
    <br>
    <br>

    <button [disabled]="newHouseForm.invalid">create</button>
  </form>

</div>





